{% extends 'substitute/base.html' %}
{% load static %}
{% block content %}

<section class="page-section bg-dark text-center pb-1" style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100%),center / contain no-repeat url({{ product.image_url }}); height: 50vh;">
  <div class="container pt-5 text-light">
    <h2>{{ product.name }}</h2>
    <h3>{{ product.brands }}</h3>
  </div>
</section>
<section class="page-section bg-secondary py-2">
  <div class="container col-8 col-offset-2">
    <table class="table">
      <tr>
        <td class="font-weight-bold">Ingredients:</td>
        <td>{{ product.ingredients }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Additifs:</td>
        {% if product.additives %}
          <td>{{ product.additives|upper }}</td>
        {% else %}
          <td>Aucun</td>
        {% endif %}
      </tr>
      <tr>
        <td class="font-weight-bold">Allergènes:</td>
        {% if product.allergens %}
          <td>{{ product.allergens }}</td>
        {% else %}
          <td>Aucun</td>
        {% endif %}
      </tr>
      <tr>
        <td class="font-weight-bold">Nutriscore:</td>
        {% if product.nutriscore == 'a' %}
          <td><img class="image-fluid w-25" src="{% static 'substitute/assets/img/nutriscore_a.png' %}" alt=""></td>
        {% elif product.nutriscore == 'b' %}
          <td><img class="image-fluid w-25" src="{% static 'substitute/assets/img/nutriscore_b.png' %}" alt=""></td>
        {% elif product.nutriscore == 'c' %}
          <td><img class="image-fluid w-25" src="{% static 'substitute/assets/img/nutriscore_c.png' %}" alt=""></td>
        {% elif product.nutriscore == 'd' %}
          <td><img class="image-fluid w-25" src="{% static 'substitute/assets/img/nutriscore_d.png' %}" alt=""></td>
        {% elif product.nutriscore == 'e' %}
          <td><img class="image-fluid w-25" src="{% static 'substitute/assets/img/nutriscore_e.png' %}" alt=""></td>
        {% endif %}
      </tr>
      <tr>
        <td class="font-weight-bold">Labels:</td>
        <td>{{ product.labels }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Distribué par:</td>
        <td>{{ product.stores|title }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">OpenFoodFacts:</td>
        <td><a href="{{ product.link }}" target="_blank" rel="noopener noreferrer">{{ product.link }}</a></td>
      </tr>
    </table>
  </div>
  <form class="text-center">
    <input class="btn btn-outline-primary" type="button" value="Retour" onclick="history.back()">
  </form>
</section>

{% endblock %}
