{% extends 'substitute/base.html' %}

{% block content %}

  <section class="page-section px-4">
    <h2>Identité</h2>
    <p>Nom du site web : sp-purbeurre</p>
    <p>Adresse : https://sp-purbeurre.herokuapp.com</p>
    <p>Propriétaire : Germain GAILLARD</p>
    <p>Responsable de publication : Germain GAILLARD</p>
    <p>Conception et réalisation : Germain GAILLARD</p>
    <p>Hébergement : <a href="https://www.heroku.com/">Heroku</a></p>
    <h2>Conditions d’utilisation</h2>
    <p>
      L’utilisation du présent site implique l’acceptation pleine et entière
      des conditions générales d’utilisation décrites ci-après.
      Ces conditions d’utilisation sont susceptibles d’être modifiées ou
      complétées à tout moment.
    </p>
    <h2>Informations</h2>
    <p>
      Les informations et documents du site sont présentés à titre indicatif,
      n’ont pas de caractère exhaustif, et ne peuvent engager la responsabilité
      du propriétaire du site.
    </p>
    <p>
      Les informations sont fournies par <a href="https://fr.openfoodfacts.org/">Open Food Facts.</a>
    </p>
    <p>
      Le propriétaire du site ne peut être tenu responsable des dommages
      directs et indirects consécutifs à l’accès au site.
    </p>
    <h2>Propriété intellectuelle</h2>
    <p>
      Sauf mention contraire, tous les éléments accessibles sur le site
      (textes, images, graphismes, logo, icônes, sons, logiciels, etc.)
      restent la propriété exclusive de leurs auteurs, en ce qui concerne
      les droits de propriété intellectuelle ou les droits d’usage.<a class="small align-top" href="#1">1</a>
    </p>
    <p>
      Toute reproduction, représentation, modification, publication, adaptation
      de tout ou partie des éléments du site, quel que soit le moyen
      ou le procédé utilisé, est interdite, sauf autorisation écrite préalable
      de l’auteur.<a class="small align-top" href="#2">2</a><a class="small align-top" href="#3">3</a>
    </p>
    <p>
      Toute exploitation non autorisée du site ou de l’un quelconque des
      éléments qu’il contient est considérée comme constitutive
      d’une contrefaçon et poursuivie.<a class="small align-top" href="#4">4</a>
    </p>
    <p>
      Les marques et logos reproduits sur le site sont déposés par les sociétés
      qui en sont propriétaires.
    </p>
    <h2>Liens</h2>
    <h3>Liens sortants</h3>
    <p>
      Le propriétaire du site décline toute responsabilité et n’est pas engagé
      par le référencement via des liens hypertextes, de ressources tierces
      présentes sur le réseau Internet, tant en ce qui concerne leur contenu
      que leur pertinence.
    </p>
    <h3>Liens entrants</h3>
    <p>
      Le propriétaire du site autorise les liens hypertextes vers l’une des
      pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre
      et soient présentés de manière non équivoque afin d’éviter :
    </p>
    <ul>
      <li>tout risque de confusion entre le site citant et le propriétaire du site</li>
      <li>ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur</li>
    </ul>
    <p>
      Le propriétaire du site se réserve le droit de demander la suppression
      d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.
    </p>
    <h2>Confidentialité</h2>
    <p>
      Tout utilisateur dispose d’un droit d’accès, de rectification et
      d’opposition aux données personnelles le concernant, en effectuant
      sa demande écrite et signée, accompagnée d’une preuve d’identité.
      <a class="small align-top" href="#5">5</a><a class="small align-top" href="#6">6</a><a class="small align-top" href="#7">7</a><a class="small align-top" href="#8">8</a>
    </p>
    <p>
      Le site ne recueille pas d’informations personnelles,
      et n’est pas assujetti à déclaration à la CNIL.<a class="small align-top" href="#9">9</a>
    </p>
    <h2>Crédits</h2>
    <p>Photos de fond : <a href="https://unsplash.com/">https://unsplash.com/</a></p>
    <p>Photos des produits : <a href="https://fr.openfoodfacts.org/">https://fr.openfoodfacts.org/</a></p>
    <p>Autres photos : <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/langage-visuel/photographies">Pur Beurre - Charte Graphique</a></p>
    <p>Informations : <a href="https://fr.openfoodfacts.org/">https://fr.openfoodfacts.org/</a></p>
    <p>Template : <a href="https://startbootstrap.com/theme/creative">https://startbootstrap.com/theme/creative</a></p>
    <p>Icones : <a href="https://fontawesome.com/">https://fontawesome.com/</a></p>
    <p>Hébergement : <a href="https://www.heroku.com/">https://www.heroku.com/</a></p>
    <p>Merci à : <a href="https://openclassrooms.com/">OpenClassRooms</a></p>
    <hr/>
    <p><a href="https://www.webexpress.fr/">Mentions légales fournies par WebExpress – Version 1.5</a>
       – Utilisation libre sous <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/">Licence Creative Commons CC BY-NC-ND 3.0 FR / creativecommons.org</a></p>
  </section>
  <section class="page-section px-4">
    <ol>
      <li id="1">Articles L111-1 et suivants du Code de la Propriété Intellectuelle du 1er juillet 1992</li>
      <li id="2">Article 41 de la loi du 11 mars 1957</li>
      <li id="3">Article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995</li>
      <li id="4">Articles L.335-2 et suivants du Code de Propriété Intellectuelle</li>
      <li id="5">Loi n° 78-87 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6 août 2004, relative à l’informatique, aux fichiers et aux libertés</li>
      <li id="6">Articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés</li>
      <li id="7">Loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données</li>
      <li id="8">Loi n° 2004-801 du 6 août 2004</li>
      <li id="9">Article 6 de la <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000801164&dateTexte=20160619">loi n° 2004-575 du 21 juin 2004</a> pour la confiance dans l’économie numérique</li>
    </ol>
  </section>

{% endblock %}
